.tabular-report table {
    border-collapse: collapse;
}

.tabular-report__header-row {
    border-bottom: 2px solid #e0e0e0;
}

.tabular-report__table-body tr {
    border-bottom: 1px solid #e0e0e0;
}

.tabular-report table th,
.tabular-report table td {
    border: none;
    font-size: 14px;
    padding: 16px 16px;
}

.tabular-report table th {
    text-align: left;
    font-weight: bold;
}

.tabular-report table td:not(:first-child),
.tabular-report table th:not(:first-child) {
    text-align: center;
}
