.searchInput {
    width: 400px;
}

.dataTableFakeRow {
    position: relative;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
    text-align: center;
    font-style: italic;
    color: #757575;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
