body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}

/* D2-UI sidebar overrides */
.left-bar {
    width: 295px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    padding-top: 3rem;
}